* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

body {
  background-color: #292929;
  color: #f3f3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
